<div class="container">
  <div class="search-container">
    <form class="form-inline" (ngSubmit)="searchEmployees()">
      <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">Search Employees</label>
        <input type="text" [(ngModel)]="nameInputSearch" name="name-input" class="form-control" placeholder="Search Employees">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
  <div class="table-responsive" *ngIf="employees">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 20%">id</th>
          <th style="width: 30%">name</th>
          <th style="width: 40%">job</th>
          <th style="width: 5%">age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees">
          <td>{{e.id}}</td>
          <td>{{e.name}}</td>
          <td>{{e.job}}</td>
          <td>{{e.age}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Average age:</td>
          <td>{{ averageAge }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
